{% extends "main.twig" %}
{% block title %}Modifier une Carte{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="Css/cartes.css" />
    <link rel="stylesheet" type="text/css" href="Css/froms.css" />

{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <div class="form">
                <h2 class="">Modifier une Carte:</h2>
                <span class="alert-info">{{ msg|raw }}</span><br>
                <form action="modifcarte.php" method="post">
                    <input type="text" hidden value="{{ carte.id }}" name="carteID" >
                    <label class="moderns">Reference de la carte:</label><input type="text" required name="refCarte" value="{{ carte.refCarte }}" class="simple-input"/><br>
                    <label class="moderns">Reference de l'etudiant:</label><label class="moderns">{{ carte.refEtu }}</label><br>
                    {{ etu|raw }}
                    <label class="moderns">Solde de la carte:</label><input type="number" required name="solde" value="{{ carte.SoldeCarte }}" class="simple-input"/><br>
                    <label class="moderns">Statut de la carte:</label>
                    <select name="statut" class="simple-input">
                        <option value="1" {% if carte.statut == 1 %} selected="selected" {% endif %}>Activ&eacute;e</option>
                        <option value="0"{% if carte.statut == 0 %} selected="selected" {% endif %}>D&eacute;sactiv&eacute;e</option>
                    </select><br>
                    <input type="submit" name="modifer" value="modifer" class="depth-sub"/>&emsp;<input type="reset" value="reset" class="depth-sub"/>
                </form>
            </div>
        </div>





    </div>

{% endblock %}
